body {
  text-align: center;
  margin: 10px 30px 10px 30px;
}
h1 {
  font-family: 'Courgette', cursive;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #9370DB;
  background-color: #9370DB;
  margin-top: 1;
}
h2 {
  color: #7B68EE;
  font-family: 'Young Serif', serif;
}

p {
  font-family: 'Courgette', cursive;
}

ul{
  list-style-type: none;
  padding: 0;
  border: 1px solid 9370DB;
  border-radius: 10px;
  background-color: #9370DB;
}

li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  overflow: hidden;
}

.texto {
  float: left;
  width: 70%; 
  margin: auto;
  background-color: #7B68EE;
  margin-top: 35px;
}

.imagem-2 {
  float: left; 
  width: 30%; 
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  color: violet;
}

.link-trailer {
  color: black;
  text-decoration: underline;
}

.quiz {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

#quiz-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #7B68EE; /* Cor de fundo verde */
  color: white; /* Cor do texto branco */
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: #9370DB; /* Mudar a cor de fundo ao passar o mouse */
}

#quiz {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 10px;
}

#results {
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
